.about-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 50px;
  margin-bottom: 50px;
}

.about-section > h3,
.about-section > p {
  margin-left: 50px;
}
