.projects-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 50px;
}

.aboutText > p > a {
  text-decoration: none;
  color: black;
}

.aboutText > p > a:visited {
  text-decoration: none;
  color: black;
}

.projects-section > h3 {
  padding-bottom: 20px;
}

.projects-section > video {
  margin-top: 30px;
  margin-bottom: 90px;
  box-shadow: 2px 2px 80px darkgray;
}
