.aboutText {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 50px;
}

.btn-right-radius {
  display: inline-block;
  padding: 0.25em 0.5em;
  background: #ececec;
  border-radius: 0 15px 15px 0;
  transition: 0.4s;
  margin-left: 20px;
}

.btn-right-radius:hover {
  background: #636363;
}
