.Present {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 50px;
  flex-direction: column;
}

h2 {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  align-items: baseline;
  justify-content: flex-start;
}
