.Present {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 50px;
  flex-direction: column;
}

h2 {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  align-items: baseline;
  justify-content: flex-start;
}

.aboutText {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 50px;
}

.projectText {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 50px;
}

.aboutText > p > a {
  text-decoration: none;
  color: black;
}

.aboutText > p > a:visited {
  text-decoration: none;
  color: black;
}

.projectText > h3 {
  padding-bottom: 20px;
}

.projectText > video {
  margin-top: 30px;
  margin-bottom: 90px;
  box-shadow: 2px 2px 80px darkgray;
}

.contactForm {
  display: flex;
  flex-direction: column;
  padding-left: 50px;
  font-size: 16px;
}

form {
  width: 460px;
}

.contactForm input[type="text"],
input[type="number"],
input[type="mail"] {
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

.contactForm input[name="text"] {
  width: 300px;
  height: 200px;
}

.contactForm input[type="submit"] {
  margin-left: 150px;
  margin-top: 20px;
  width: 50px;
}

.contactForm input[type="text"],
input[type="mail"],
input[type="number"] {
  font: 15px/24px sans-serif;
  box-sizing: border-box;
  width: 100%;
  padding: 0.3em;
  transition: 0.3s;
  letter-spacing: 1px;
  color: #aaaaaa;
  border: 1px solid #ffffff;
  box-shadow: 1px 1px 2px 0 #707070 inset;
  border-radius: 4px;
}

.contactForm input[type="text"],
input[type="mail"],
input[type="number"]:focus {
  outline: none;
  box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

.btn-gradient-radius {
  font-size: 12px;
  border-radius: 25px;
  text-decoration: none;
  color: #fff;
  background-image: linear-gradient(45deg, lightgray 0%, rgb(49, 49, 49) 100%);
  transition: 0.4s;
}

.btn-gradient-radius:hover {
  background-image: linear-gradient(45deg, lightgray 0%, #ff7c5c 100%);
}
