.Present {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 50px;
}

h2 {
  display: flex;
  flex-wrap: wrap;
  font-weight: bold;
  align-items: baseline;
  justify-content: flex-start;
}

.aboutText {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 50px;
}

.projectText {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;
  padding-left: 50px;
}

.aboutText > p > a {
  text-decoration: none;
  color: black;
}

.aboutText > p > a:visited {
  text-decoration: none;
  color: black;
}

.projectText > h3 {
  padding-bottom: 20px;
}

.projectText > video {
  margin-top: 30px;
  margin-bottom: 90px;
  box-shadow: 2px 2px 80px darkgray;
}
